<h2><%= author %><h2>
<img src="/images/foto.jpg" alt="Autor" style="width:150px; height:150px;">
<p>Nombre:   Juan Carlos</p>
<p>Apellidos:  Perez Almendro</p>
<p>Fecha de nacimiento:  04 de Julio de 1976</p>
<p>Edad:  39 años</p>
<p>Estudios:  Desarrollo de productos electronicos de consumo</p>
<p>Profesion:  Programador informatico </p>
<p>Aficiones: Lectura, musica y videojuegos</p>
